:root{
  --primary-color: #104f7f;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body, #root{
  height: 100%;
  width: 100%;
}

body{
  background-color: #FAFAFA;
}

nav{
  width: 100%;
  display: flex;
  background-color: white;
  border-bottom: 1px solid #0000002b;
  justify-content: space-between;
  padding: 6px 15%;
  height: 55px;
}

nav .logo{
  font-family: 'Indie Flower', cursive;
  font-size: 30px;
  font-weight: bold;
  color: var(--primary-color);
}

nav .links{
  display: flex;
  gap: 4vw;
  align-items: center;
  font-size: 20px;
  color: var(--primary-color);
}

nav .links:hover{
  cursor: default;
}

nav .links a{
  text-decoration: none;
  color: black;
}

nav .links a.active{
  color: var(--primary-color);
  text-decoration: underline;
}

nav .links a:hover{
  text-decoration: underline;
  text-decoration-color: var(--primary-color);
}

nav .links button{
  font-size: 15px;
  padding: 7px 14px;
  background-color: white;
  border: 1px solid black;
  border-radius: 5px;
}

nav .links button:hover{
  cursor: pointer;
  transform: scale(0.95);
}

#root > div{
  height: calc(100% - 55px);
}

.notFound{
  width: 100%;
  display: flex;
  gap: 20px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -10%;
}

.notFound h1{
  font-size: 200px;
}

.notFound h3{
  font-size: 35px;
}

.notFound span{
  font-size: 30px;
}

@media only screen and (max-width: 1100px) {
  nav .links {
    display: none;
  }

  .notFound h1{
    font-size: 100px;
  }
  
  .notFound h3{
    font-size: 25px;
    text-align: center;
  }
  
  .notFound span{
    font-size: 20px;
  }
}